{
  http_port 8080
  # Pas d'ACME/HTTPS en dev
  frankenphp
}

:8080 {
  root * /app/public
  encode gzip zstd

  # 1) Fichiers statiques (CSS/JS/images…)
  @static {
    file
  }
  handle @static {
    file_server
  }

  # 2) Tout le reste => PHP via FrankenPHP (front controller public/index.php)
  handle {
    php_server
  }

  # Headers de sécurité
  header {
    X-Frame-Options "SAMEORIGIN"
    X-Content-Type-Options "nosniff"
    Referrer-Policy "strict-origin-when-cross-origin"
    -Server
  }
}
